.footer {
  padding: 55px 0;
  background: #f5f5f5;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__content {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__item {
    font-style: normal;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #3d4246;

    width: calc(25% - 15px);

    &-title {
      font-size: 22px;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 18px;
      margin-bottom: 17.5px;
    }

    &-link {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      color: #3d4246;
      line-height: 1.5;
      text-transform: uppercase;
      transition: all 0.2s ease;

      &:hover {
        color: #de1604;
      }
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 1.2;
    color: #3d4246;

    &-text {}

    &-link {
      color: #3d4246;
      text-decoration: none;
    }
  }
}