<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <ul class="footer__list">
          <li class="footer__item">
            <h2 class="footer__item-title">г. Санкт-Петербург</h2>
            <h3 class="footer__item-text">196655, Россия, Санкт-Петербург,</h3>
            <h3 class="footer__item-text">Колпино, Колпинская ул., д. 8</h3>
          </li>
          <li class="footer__item">
            <h2 class="footer__item-title">Отдел продаж:</h2>
            <h3 class="footer__item-text"><a class="footer__item-link" href="tel:88122442323">+7 (812) 244-23-23</a>
            </h3>
          </li>
          <li class="footer__item">
            <h2 class="footer__item-title">EMAIL:</h2>
            <h3 class="footer__item-text"><a class="footer__item-link"
                href="mailto:info@txa-parts.ru">info@txa-parts.ru</a></h3>
          </li>
          <li class="footer__item">
            <h2 class="footer__item-title">График работы:</h2>
            <h3 class="footer__item-text">пн. - пт.: с 9-00 до 18-00</h3>
          </li>
        </ul>
      </div>
      <div class="footer__copyright">
        <!-- <h2 class="footer__copyright-text">© 2023, <a class="footer__copyright-link" href="#!">asd</a></h2> -->
      </div>
    </div>
  </div>
</footer>
</div>
<script src="libs/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>