<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <ul class="footer__list">
          <li class="footer__item">
            <h2 class="footer__item-title">Miami USA</h2>
            <h3 class="footer__item-text">Interdiesel USA Inc.</h3>
            <h3 class="footer__item-text">8097 NW 67th St., Miami</h3>
          </li>
          <li class="footer__item">
            <h2 class="footer__item-title">Los Angeles USA</h2>
            <h3 class="footer__item-text">Roth Auto & Truck Parts Inc.</h3>
            <h3 class="footer__item-text">3031 E Coronado St. STE C Anaheim CA92806</h3>
          </li>
          <li class="footer__item">
            <h2 class="footer__item-title">Houston USA</h2>
            <h3 class="footer__item-text">Houston Parts Inc</h3>
            <h3 class="footer__item-text">3631 Mcdonough Way Katy Houston</h3>
          </li>
          <li class="footer__item">
            <h2 class="footer__item-title">
              <a href="tel:899999999">+7(999)-999-99-99</a>
            </h2>
            <h3 class="footer__item-email">EMAIL: <a href="mailto:email@email.com">email@email.com</a></h3>
          </li>
        </ul>
      </div>
      <div class="footer__copyright">
        <h2 class="footer__copyright-text">© 2023, <a class="footer__copyright-link" href="#!">asd</a></h2>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="libs/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>