<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="libs/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <img src="images/logo2_1_180x.avif" alt="logo" class="logo">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#!" class="text2 nav__item-link">Продукт
                  <img class="arrow" src="images/arrow.svg" alt="arrow">
                  <ul class="nav__dropdown-list">
                    <li class="nav__dropdown-item-">Replacement Parts For Caterpillar</li>
                    <li class="nav__dropdown-item-">Replacement Parts For Caterpillar</li>
                    <li class="nav__dropdown-item-">Replacement Parts For Caterpillar</li>
                  </ul>
                </a>
              </li>
              <li class="nav__item"><a href="#!" class="text2 nav__item-link">Контакты</a></li>
              <li class="nav__item"><a href="#!" class="text2 nav__item-link">Политика
                  <img class="arrow" src="images/arrow.svg" alt="arrow">
                </a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>