<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="libs/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a href="/">
            <img src="images/logo2_1_180x.avif" alt="logo" class="logo">
          </a>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <button class="nav__item-link nav__btn" type="button">Продукт
                  <img class="arrow" src="images/arrow.svg" alt="arrow">
                  <ul class="nav__dropdown-list">
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/txa-parts/collection_Caterpillar">
                        Запасные части для Caterpillar
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/txa-parts/collection_Detroit-Mercedes-Benz">
                        Запасные части для Detroit-Mercedes Benz
                      </a>
                    </li>
                    <li class="nav__dropdown-item">
                      <a class="nav__dropdown-link" href="/txa-parts/collection_John-Deere">
                        Запасные части для John Deere
                      </a>
                    </li>
                  </ul>
                </button>
              </li>
              <li class="nav__item"><a href="#!" class="nav__item-link">Контакты</a></li>
              <li class="nav__item">
                <button class="nav__item-link nav__btn" type="button">Политика
                  <img class="arrow" src="images/arrow.svg" alt="arrow">
                  <ul class="nav__dropdown-list">
                    <li class="nav__dropdown-item">Политика конфиденциальности</li>
                    <li class="nav__dropdown-item">Условия использования</li>
                  </ul>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>