.product {
  padding-top: 55px;
  margin-bottom: 110px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 82.5px;
  }

  &__content {
    display: flex;
    gap: 30px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__img {
    max-width: 530px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__images-list {
    display: flex;
    gap: 30px;
  }

  &__images-item {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: 2px solid transparent;
  }

  &__images-item.active {
    border-color: #3d4246;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__name {
    font-size: 36px;
  }

  &__desc {
    color: #69727b;
  }

  .btn--back {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
  }
}